.student-life-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/student-life.jpg');
  background-size: cover;
  height: 20rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 30px #888888;

}

.headline-parallax {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
  color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(1rem*3);
  margin-bottom: calc(1rem*3);
  text-transform: uppercase;
  color: #EA882C;
  background-color: rgba(37,37,37, 0.8);
  padding-right: 2rem;
  padding-left: 2rem;
}


.headline-parallax:after {
    content: "";
    width: 50px;
    height: 3px;
    background: #252525;
    display: block;
    margin: auto;
    position: relative;
    bottom: -10px;
}

.lead-text-column {
  text-align: center;
  padding: 0rem 15rem 0rem 15rem ;
}

.lead {
  font-size: 1.2rem;
  line-height: 1.5;
}

#timeline {
  width: 80%;
}

.timeline-col {
  height: 50em;
  padding-left: 3rem;
  padding-right: 3rem;
}

.callout {
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
}

.arrow {
  width: 25px;
  height: 25px;
}

@media (max-width: 1090px) {
  .lead-text-column {
    padding: 0rem 5rem 0rem 5rem ;
  }
}
