.lead-text-column {
  text-align: center;
  padding: 0rem 15rem 0rem 15rem ;
}

.lead {
  font-size: 1.2rem;
  line-height: 1.5;
}

#timeline {
  width: 80%;
}

.callout {
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
}

.arrow {
  width: 25px;
  height: 25px;
}

@media (max-width: 1090px) {
  .lead-text-column {
    padding: 0rem 5rem 0rem 5rem ;
  }
}
