.section {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.gray {
  background-color: #F8F8F8;
}

.headline {
  font-size: 2.488rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
  color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(1rem*3);
  margin-bottom: calc(1rem*3);
}

.headline:after {
    content: "";
    width: 50px;
    height: 3px;
    background: #E1E1E1;
    display: block;
    margin: auto;
    position: relative;
    bottom: -10px;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.description {
  color: #828282;
  margin-bottom: 1rem;
  line-height: 1.4;
  /*height: 15rem;*/
}

.card-title {
  font-size: 2.074rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
}

.card-row {
  padding-left: 1.5rem;
  padding-right:1.5rem;
  height: 39rem;
  display: flex;
  overflow: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-col {
  padding: 1rem;
  height: 100%;
}

.profile-pics {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.profile-photo {
  width: 50%;
  height: auto;
  padding: .25rem;
  border-radius: 50%;
  text-align: center;
}

.company-logos {
  padding-bottom: 1rem;
}

.company-logo {
  width: 30%;
  height: auto;
  padding: .25rem;
  border-radius: 50%;
  text-align: center;
}

.profile-photo:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.name {
  color: #00A5B5;
  font-weight: 300;
  text-decoration: none;
  outline: 0;
  transition: all .3s ease;
  font-size: 1.2rem;
}

.title-location {
  margin-top: calc(1rem/2);
  color: #828282;
  font-size: .833rem;
  margin-top: 0;
}

.lead span {
  font-weight: 500;
  color: #EA882C;
}
