.curriculum-section {
  padding: 3rem;
}

.module-holder {
  display: flex;
  flex-wrap: wrap;
}

.curriculum-block {
  padding: 0;
}

.curriculum-card {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.curriculum-card h5{
  text-transform: uppercase;
  font-weight: 300;
  margin: .75rem;
}

.curriculum-icon {
  width: 150px;
}

.tech-logos {
  display: none;
}

.tech-logo {
  height: 50px;
  margin: 10px;
}

.curriculum-card:hover {
  z-index: 1;
}

.curriculum-card:hover .tech-logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.title {
  font-size: 2.074rem;
  line-height: 1.2;
  margin: 1.2rem 0;
  font-weight: 300;
  color: #252525;
}

.curriculum-content p {
  color: #828282;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

.capstone-card {
  margin-top: 2rem;
  background-color: #0095a3;
}

.capstone-card .title {
  color: white;
}

.capstone-card .description {
  color: white;
}

@media (max-width: 975px) {
  .curriculum-section {
    padding:1rem;
  }
}
