#logo {
  width: 150px;
}

.navbar {
  overflow: hidden;
  background-color: #353535;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: .0425em;
  font-weight: 300!important;
  padding-right: 1rem!important;
}

@media (max-width: 710px) {
  .navbar-nav {
    display: none!important;
  }
  .navbar-toggler {
    display: block!important;
  }
}
