#logo {
  width: 150px;
}

.navbar {
  overflow: hidden;
  background-color: #353535;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: .0425em;
  font-weight: 300!important;
  padding-right: 1rem!important;
}

.hero-section {
  background-image: url('../../images/hero_wdi-student.jpg');
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  height: 30em;
  box-shadow: 10px 10px 120px #888888;
  color: #353535;
  margin-bottom: 2rem;

}

.grid-cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5rem 2rem 5rem;
  margin-top: 2rem;
  color: #252525;
}

.page-title {
  padding: 1px 20px 1px 1000px;
  margin-left: -1000px;
  margin-top: 40px;
  position: absolute;
  top: 0;
  background-color: #EA882C;
}

.grid-cell h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: .5rem 0;
  color: white;
  font-weight: 300;
  letter-spacing: .0625em;
}

.grid-cell h1 {
  font-size: 2.986rem;
  line-height: 1.2;
  margin: 1.2rem 0;
}

.grid-cell p {
  font-size: 1.2rem;
  line-height: 1.5;
}
