.dark-background {
  background-color: #252525;
}

.dark-color {
  color: #252525;
}

.orange-background {
  background-color: #EA882C;
}

.orange-color {
  color: #EA882C;
}

.btn-primary {
  background-color: #0095a3!important;
  color: white!important;
  border-color: #0095a3!important;
  font-weight: 300;
  box-shadow: 2px 2px 10px #888888;
}

.btn-primary:hover {
  background-color: #007984!important;
  border-color: #007984!important;
}

.blue-color {
  color: #0095a3;
}

.light-white-background {
  background-color: #F8F8F8;
}

.light-white-color {
  color: #F8F8F8;
}

.grey-text {
  color: #4A4A4A;
}
