.dark-background {
  background-color: #353535;
}

.dark-color {
  color: #252525;
}

.orange-background {
  background-color: #EA882C;
}

.orange-color {
  color: #EA882C;
}

.btn-primary {
  background-color: #0095a3!important;
  color: white!important;
  border-color: #0095a3!important;
  font-weight: 300!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-primary:hover {
  background-color: #007984!important;
  border-color: #007984!important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.btn-secondary:hover {
  background-color: #F8F8F8!important;
  border-color: #F8F8F8!important;
  color: #353535!important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-secondary {
  background-color: #EA882C!important;
  color: black!important;
  border-color: #EA882C!important;
  font-weight: 300!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.blue-color {
  color: #0095a3;
}

.light-white-background {
  background-color: #F8F8F8;
}

.light-white-color {
  color: #F8F8F8;
}

.grey-text {
  color: #4A4A4A;
}
