.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/photo-grid.jpg');
  background-size: cover;
  height: 20rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 30px #888888;

}
