.goal-holder {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 3rem;
}

.goal-block {
  padding: 1rem;
}

.goal-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.goal-icon {
  width: 80px;
  height: auto;
}

.media-object {
  padding-left: .5rem;
  padding-right: .5rem;
}

.media-body {
  padding: 0rem 1rem;
  font-weight: 300;
}
